<!DOCTYPE html>
<html lang="en" ng-app="portfolio">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>James N Summers</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/styles/main.css">

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Bubbler+One|Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- VENDOR SCRIPTS -->
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/ProjectsIndexController.js"></script>
    <script src="/scripts/controllers/ProjectsShowController.js"></script>
    <!-- Film page for future deployment -->
    <!-- <script src="/scripts/controllers/FilmsIndexController.js"></script> -->
    <!-- <script src="/scripts/controllers/FilmsShowController.js"></script> -->

  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper transparent">
          <a href="/" class="brand-logo">James N Summers</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <!-- Film page for future deployment -->
            <!-- <li><a href="/films">Films</a></li> -->
            <li><a href="https://github.com/jamesnsummers">Github</a></li>
            <li><a href="https://www.linkedin.com/in/jamesnsummers/">LinkedIn</a></li>
            <li><a href="https://www.twitter.com/jamesnsummers/">Twitter</a></li>
            <li><a href="https://drive.google.com/file/d/0B6l8Nj03obQzYWFPREo0eDU5LWM/view?usp=sharing">Resume</a></li>
          </ul>
        </div>
      </nav>
      <ul class="side-nav blue-grey lighten-3" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <!-- Film page for future deployment -->
        <!-- <li><a href="/films">Films</a></li> -->
        <li><a href="https://github.com/jamesnsummers">Github</a></li>
        <li><a href="https://www.linkedin.com/in/jamesnsummers/">LinkedIn</a></li>
        <li><a href="https://www.twitter.com/jamesnsummers/">Twitter</a></li>
        <li><a href="https://drive.google.com/file/d/0B6l8Nj03obQzYWFPREo0eDU5LWM/view?usp=sharing">Resume</a></li>

      </ul>

    </header>

    <main>
      <div ng-view></div>
    </main>

  <footer class="page-footer transparent">
    <div class="footer-copyright">
      <div class="container">
        <a class="white-text" href="https://www.linkedin.com/in/jamesnsummers/">LinkedIn ||</a>
        <a class="white-text" href="https://github.com/jamesnsummers">Github ||</a>
        <a class="white-text" href="https://www.twitter.com/jamesnsummers/">Twitter ||</a>
        <a class="white-text" href="/docs/resume">Resume</a>
      </div>
      <div class="container">
        <p class="right">| © 2017</p>
        <p class="right">Built with ♡ by James N Summers |</p>
      </div>
    </div>
  </footer>

  </body>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.button-collapse').sideNav({
        closeOnClick: true
      });
    });
  </script>

</html>
