<!DOCTYPE html>
<html lang="en" ng-app="portfolio">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>James N Summers</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/styles/main.css">

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <!-- JavaScript for: jQuery, angular, materialize, angular-materialize, twitter share, pintrest share, and font-awesome.-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.2.16/angular-route.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>
    <script type="text/javascript" src="https://use.fontawesome.com/f00a2ef116.js"></script>
    <script type="text/javascript" src="/vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="/vendor/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>

    <!-- FONTS & ICONS -->
    <link href="https://fonts.googleapis.com/css?family=Bubbler+One|Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/JnS-2.png">

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/ProjectsIndexController.js"></script>
    <script src="/scripts/controllers/ProjectsShowController.js"></script>
    <!-- Film page for future deployment -->
    <!-- <script src="/scripts/controllers/FilmsIndexController.js"></script> -->
    <!-- <script src="/scripts/controllers/FilmsShowController.js"></script> -->

  </head>

  <body>
    <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper transparent">
          <a href="/" class="brand-logo" id="jns-icon">JnS</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/" class="waves-effect">Home</a></li>
            <li><a href="/projects" class="waves-effect">Projects</a></li>
            <li><a href="/resume" class="waves-effect">Resume</a></li>
            <!-- Film page for future deployment -->
            <!-- <li><a href="/films">Films</a></li> -->
            <li><a href="https://github.com/jamesnsummers">Github</a></li>
          </ul>
        </div>
      </nav>
    </div>
      <ul class="side-nav blue-grey lighten-3" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/resume">Resume</a></li>
        <!-- Film page for future deployment -->
        <!-- <li><a href="/films">Films</a></li> -->
        <li><a href="https://github.com/jamesnsummers">Github</a></li>
      </ul>

    </header>

    <main>
      <div ng-view></div>
    </main>

  <footer class="page-footer white-text">
    <!-- <div class="container"> -->
      <div class="row">
        <div class="col l12 s12 center">
            <a class="tooltipped white-text" data-position="top" data-delay="60" data-tooltip="LinkedIn" href="https://www.linkedin.com/in/jamesnsummers/"><i class="fa fa-linkedin"></i></a>
            <a class="tooltipped white-text" data-position="top" data-delay="60" data-tooltip="Github"  href="https://github.com/jamesnsummers"><i class="fa fa-github"></i></a>
            <a class="tooltipped white-text" data-position="top" data-delay="60" data-tooltip="Twitter"  href="https://www.twitter.com/jamesnsummers/"><i class="fa fa-twitter"></i></a>
            <br>Built with ♡ by <a class="tooltipped white-text" data-position="top" data-delay="60" data-tooltip="Resume" href="/resume">James N Summers</a> © 2017
        </div>
      </div>
  </footer>

  </body>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.button-collapse').sideNav({
        closeOnClick: true
      });
      $('.tooltipped').tooltip({delay: 50});
    });
  </script>

</html>
