<!-- Film page for future deployment -->
<!-- <div class="container">
  <div class="row">
    <div class="col s7 right">
      <form>
        <div class="input-field">
          <input id="search" type="search" class="input-field transparent white-text" ng-model="searchText">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row ">
  <div class="col right">
    <h3 id="projects-title" class="white-text">Films</h3>
  </div><br><br><br>
  <p class="white-text right">Film is one of my favorite art forms. The visceral experience I have when watching a film is one of the most powerful in my life. Here are a few of the films that have moved me the most.</p>
<div ng-repeat="film in filmsIndexCtrl.films | orderBy: 'title' | filter: searchText">
    <div class="card right blue-grey darken-3 hoverable">
      <div class="card-content white-text">
        <button ng-show="editing" ng-click="filmsIndexCtrl.deleteFilm(film)" class='btn-floating left halfway-fab waves-effect waves-light red accent-2 raised'>X</button>
        <span class="card-title" ng-hide="editing"><a ng-href="films/{{film._id}}">{{film.title}}</a></span>
        <input ng-show="editing" ng-model="film.title" type="text" class="form-control input-md"><br>
        <span ng-hide="editing">Director: <br>{{film.director}}</span><br>
        <input ng-show="editing" ng-model="film.director" type="text" class="form-control input-md"><br>
        <span ng-hide="editing">Release Date: {{film.releaseDate}}</span><br>
        <input ng-show="editing" ng-model="film.releaseDate" type="text" class="form-control input-md"><br>
        <span ng-hide="editing">Genre: <br>{{film.genre}}</span><br>
        <input ng-show="editing" ng-model="film.genre" type="text" class="form-control input-md"><br>
      </div>

      <button class='btn-floating halfway-fab waves-effect waves-light blue raised' ng-hide="editing" ng-click="editing = true"><i class="material-icons">mode_edit</i></button>
      <button class='btn-floating halfway-fab waves-effect waves-light green accent-3 raised' ng-show="editing" ng-click="filmsIndexCtrl.editFilm(film); editing = false"><i class="material-icons">done</i></button>
    </div>
  </div>
</div> -->
