<div class="row right">
  <h5 class="right white-text" id="home-title">Full Stack Developer with a Penchant for Logic and Design <br><br> Writer || Musician <br><br>Native Austinite</h5>
  <div class="col s12">
    <div class="card col s8 transparent">
      <div class="card-content white-text">
        <p id="home-bio">
          A critically thinking and creative web developer. I enjoy finding the most efficient solutions to problems and implementing those solutions in a team environment. I work hard until the project is complete, staying focused on my work throughout. I am well suited for roles in which I am able to work independently but I also value having the support of my team and/or supervisor(s).  I bring stability and calm to every organization and team.
        </p>
      </div>
    </div>
  </div>
</div>
