<div class="container">
  <div class="row">
    <div class="col s12">
      <form>
        <div class="input-field">
          <input id="search" type="search" class="input-field transparent white-text" ng-model="searchText">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 center">
    <h3 id="projects-title" class="white-text">Projects</h3>
    <h5 class="white-text">Below is a selection of my most recent projects.</h5>
  </div><br><br><br>

  <div ng-repeat="project in projectsIndexCtrl.projects | orderBy: 'dateCompleted' | filter: searchText">
    <div class="card col s12 blue-grey darken-3 hoverable">
      <div class="card-content white-text">
        <span class="card-title" ng-hide="editing"><a ng-href="projects/{{project._id}}">{{project.title}}</a></span>
        <input ng-show="editing" ng-model="project.title" type="text" class="form-control input-md"><br>
        <span ng-hide="editing">Date Completed: {{project.dateCompleted}}</span><br>
        <input ng-show="editing" ng-model="project.dateCompleted" type="text" class="form-control input-md"><br>
        <span ng-hide="editing"><a href="{{project.url}}">Link to Project</a></span><br>
        <input ng-show="editing" ng-model="project.url" type="text" class="form-control input-md"><br>
        <span ng-hide="editing">Description: <br>{{project.descrip}}</span><br>
        <input ng-show="editing" ng-model="project.descrip" type="text" class="form-control input-md"><br>
      </div>

      <div id="share-primary-btn" class="fixed-action-btn right horizontal click-to-toggle">
        <a id="share-secondary-btn" class="btn-floating btn-large waves-effect blue lighten-1">
          <i class="material-icons">share</i>
        </a>
        <ul id="share-list-btn">
          <li><a class="btn-floating red" href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" data-pin-custom="true"><i class="fa fa-pinterest-p"></i></a></li>
          <li><a class="btn-floating blue" href="https://twitter.com/share?url={{project.url}}&via=jamesnsummers" data-show-count="false"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a class="btn-floating blue darken-4" href="http://www.facebook.com/share.php?u={{project.url}}&title={{project.title}}"><i class="fa fa-facebook"></i></a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
