<div id="card-show" class="container" ng-controller="ProjectsShowController as projectsShowCtrl", "ProjectsIndexController as projectsIndexCtrl">
  <div class='row'>
    <div class="col s12 m6">
      <img class="thumbnail" src="{{projectsShowCtrl.project.image}}" alt="project image">
    </div>

    <div class="col s12 m6">
      <div class="card col s12 blue-grey darken-3 hoverable">
        <div class="card-content white-text">
          <span ng-hide="editing" class="card-title">{{projectsShowCtrl.project.title}}</span>
          <input ng-show="editing" ng-model="projectsShowCtrl.project.title" type="text" class="input-field transparent white-text">
          <br><span ng-hide="editing">Date Complete: {{projectsShowCtrl.project.dateCompleted}}</span>
          <input ng-show="editing" ng-model="projectsShowCtrl.project.dateCompleted" type="text" class="input-field transparent white-text">
          <br><br><span ng-hide="editing"><a href="{{projectsShowCtrl.project.url}}">Link to Project</a></span>
          <input ng-show="editing" ng-model="projectsShowCtrl.project.url" type="text" class="input-field transparent white-text"><br><br>
          <span ng-hide="editing">Description:<br> {{projectsShowCtrl.project.descrip}}</span><br>
          <input ng-show="editing" ng-model="projectsShowCtrl.project.descrip" type="text" class="input-field transparent white-text"><br>
          <br><a ng-hide="editing" href="/projects">Return to Projects Page</a>
          <div id="share-primary-btn" class="fixed-action-btn right horizontal click-to-toggle">
            <a id="share-secondary-btn" class="btn-floating btn-large waves-effect blue lighten-1">
              <i class="material-icons">share</i>
            </a>
            <ul id="share-list-btn">
              <li><a class="btn-floating red" href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" data-pin-custom="true"><i class="fa fa-pinterest-p"></i></a></li>
              <li><a class="btn-floating blue" href="https://twitter.com/share?url={{projectsShowCtrl.project.url}}&via=jamesnsummers" data-show-count="false"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a class="btn-floating blue darken-4" href="http://www.facebook.com/share.php?u={{projectsShowCtrl.project.url}}&title={{project.title}}"><i class="fa fa-facebook"></i></a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
