<div class="container" ng-controller="ProjectsIndexController as projectsIndexCtrl">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <form class="form-horizontal" ng-submit="projectsIndexCtrl.createProject()">
        <fieldset>

          <!-- Form Name -->
          <legend>Add New Project</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">Title:</label>
            <div class="col-md-4">
            <input id="name" ng-model="projectsIndexCtrl.newProject.title" type="text" class="form-control input-md" required="" placeholder="Title">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">Date Completed:</label>
            <div class="col-md-4">
            <input ng-model="projectsIndexCtrl.newProject.dateCompleted" type="text" class="form-control input-md" placeholder="Date Completed">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">Link:</label>
            <div class="col-md-4">
            <input ng-model="projectsIndexCtrl.newProject.url" type="text" class="form-control input-md" placeholder="Link to Project">
            </div>
          </div>


          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
              <button class="btn btn-success">Save Project</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
