<input type="text" class="input-field transparent" ng-model="searchText" placeholder="Search Projects">
<div class="row">
  <h3 class="center">Projects</h3>
<div ng-repeat="project in projectsIndexCtrl.projects | orderBy: 'title' | filter: searchText">
    <div class="card col s6">
      <div class="card-content">
        <button ng-click="projectsIndexCtrl.deleteProject(project)" class='btn-floating halfway-fab waves-effect waves-light red raised'>X</button>
        <span class="card-title" ng-hide="editing"><a ng-href="projects/{{project._id}}">{{project.title}}</a></span>
        <input ng-show="editing" ng-model="project.title" type="text" class="form-control input-md"><br>
        <span ng-hide="editing">Date Completed: {{project.dateCompleted}}</span><br>
        <input ng-show="editing" ng-model="project.dateCompleted" type="text" class="form-control input-md"><br>
        <span ng-hide="editing"><a href="{{project.url}}">View Project on Github</a></span><br>
        <input ng-show="editing" ng-model="project.url" type="text" class="form-control input-md"><br>
      </div>

      <button class='waves-effect waves-light btn raised' ng-hide="editing" ng-click="editing = true">Edit Project</button>
      <button class='waves-effect waves-light btn raised' ng-show="editing" ng-click="projectsIndexCtrl.editProject(project); editing = false">Save Changes</button>
    </div>
  </div>
</div>
