<div id="card-show" class="container" ng-controller="ProjectsShowController as projectsShowCtrl", "ProjectsIndexController as projectsIndexCtrl">
  <div class='row'>
    <div class="col s12 m6">
      <img class="thumbnail" src="/images/800x800.png" alt="project image">
    </div>

    <div class="col s12 m6">
      <div class="card col s12 blue-grey darken-3">
        <div class="card-content white-text">
          <span ng-hide="editing" class="card-title">{{projectsShowCtrl.project.title}}</span>
          <input ng-show="editing" ng-model="projectsShowCtrl.project.title" type="text" class="form-control input-md">
          <br><span ng-hide="editing">Date Complete: {{projectsShowCtrl.project.dateCompleted}}</span>
          <input ng-show="editing" ng-model="projectsShowCtrl.project.dateCompleted" type="text" class="form-control input-md">
          <br><br><span ng-hide="editing"><a href="{{projectsShowCtrl.project.url}}">View Project on Github</a></span>
          <input ng-show="editing" ng-model="projectsShowCtrl.project.url" type="text" class="form-control input-md"><br><br>
          <button class='waves-effect waves-light btn' ng-hide="editing" ng-click="editing = true">Edit Project</button>
          <br><button class='waves-effect waves-light btn' ng-show="editing" ng-click="projectsIndexCtrl.editProject(project); editing = false">Save Changes</button>
          <br><a href="/projects">Return to Projects Page</a>
        </div>

      </div>
    </div>
  </div>

</div>
