body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("/images/james.jpg");
    background-size: cover;
  }

nav {
    padding-left: 2%;
    padding-right: 2%;
    background-image: url("/images/background.jpg");
    opacity: .8;
  }

main {
    flex: 1 0 auto;
  }

footer {
    padding-left: 2%;
    padding-right: 2%;
    background-image: url("/images/background.jpg");
    background-size: cover;
    opacity: .8;
  }


#home-title {
    text-align: center;
    padding-right: 5%;
  }

#home-bio {
    text-align: center;
    margin-left: 58%;
    width: 100%;
  }

h3.center.white-text {
  text-align: right;
  padding-right: 3%;
}

#projects-title {
  margin-top: -2%;
  margin-bottom: 5%;
  margin-left: -10%;
}

.card {
  opacity: .9;
  height: 350px;
  width: 350px;
}


#edit-btn {
  margin-bottom: 82%;
  margin-right: -2%;
}

#delete-btn {
  margin-bottom: 82%;
  margin-right: 85%;
}

#add-card-form {
  margin-top: 10%;
}

#card-show {
  margin-top: 10%;
}

.thumbnail {
  width: 80%;
  opacity: .7;
}
