/*GLOBAL STYLES*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-color: #e57373;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

/*NAVBAR STYLES*/
nav {
  padding-left: 2%;
  padding-right: 2%;
  background-image: url("/images/background.jpg");
  background-size: cover;
  opacity: .8;
}
#mobile-demo {
  opacity: .7;
}

/*MAIN CONTENT STYLES*/
main {
  flex: 1 0 auto;
}
#jns-icon {
  height: 10%;
  width: 10%;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.conatiner {
  width: 90%;
}

/*FOOTER STYLES*/
footer {
  background-image: url("/images/background.jpg");
  background-size: cover;
  opacity: .8;
}

/*HOME PAGE STYLES*/
#home-card {
  text-align: center;
}

/*GLOBAL CARD STYLES*/
.card {
  opacity: .9;
}

.card span {
  display: inline-block;
  padding: 5px 0;
}

h5.find-more {
  font-style: italic;
}

#share-primary-btn {
  position: absolute;
  right:60px;
  bottom: 40px;
}

#share-secondary-btn {
  position: inherit;
  opacity: .9;
}

#share-list-btn {
  right: -1px;
  opacity: .9;
}

/*CARD STYLES FOR ADD FORM*/
#add-card-form {
  margin-top: 10%;
}

/*CARD STYLES IN SHOW*/
#card-show {
  margin-top: 10%;
}

.thumbnail {
  margin-top: 3%;
  width: 100%;
  height: 100%;
}
